@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --white: #fff;
    --light: #eeeded;
    --orange: #ffa500;
}
body{
    background-color: var(--orange);
    font-family: system-ui;
    overflow: auto;
}
.container{
    width: 95%;
    border: 3px solid var(--white);
    max-width: auto;
    margin: auto auto 0;
    display: grid;
    grid-template-columns: 12% auto 20%;
    padding:10px;
    border-radius: 20px;
    min-height: 10px;
    overflow: auto;
}
.container .menu{
    background-color: var(--white);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container .cart{
    background-color: var(--white);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container .center{
    background-color: var(--light);
    border-left: 10px solid var(--light);
    border-right: 10px solid var(--light);
}

/* menu */

.menu ul{
    padding: 20px 0 20px 20px;
    list-style: none;
    border-bottom: 1px solid var(--light);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.menu ul li{
    padding: 10% 0;
}
.menu ul li i{
    margin-right: 10px;
}
.menu ul li.active{
    color: var(--orange);
    border-right: 10px solid var(--orange);
}
.menu ul li:hover{
    color: var(--orange);
    border-right: 10px solid var(--orange);
}
.center .search{
    background-color: var(--white);
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: auto;
}
.center .search .form{
    width: max-content;
    border: 3px solid var(--light);
    border-radius: 30px;
    padding-left: 20px;
    color:var(--light);
}
.center .search .form input{
    border:none;
    padding:0 10px;
    width: auto;
}
.center .search .form button{
    border:none;
    background-color: var(--orange);
    color: var(--light);
    padding:10px 20px;
    border-radius: 20px;
}

    /* end form */

.center h2{
    padding:10px;
}
.center .list{
    padding:0 20px 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
}
.item{
    background-color: var(--white);
    display: grid;
    grid-template-columns: 30% auto;
    padding: 20px;
    column-gap: 20px;
    border-radius: 20px;
    align-items: center;
}
.item .img img{
    background-color: var(--light);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}
.item .img:hover {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2); /* Efek bayangan saat hover */
}
.item .img{
    background-color: var(--light);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
.item .content .title{
    font-weight: bold;
    padding: 10px 10px;
    max-width: auto;
    border-radius: 20px;
    word-wrap: break-word;
}
.item .content .des{
    font-size: small;
    opacity: 0.6;
    margin-top: 4px;
}
.item .content .price{
    color:var(--orange);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: small;
    margin-top:5px;
}
.item .count{
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
    padding:3px 5px;
    border:3px solid var(--light);
    outline: none;
    margin-top:5px;
}
.item .content .add{
    margin-top:5px;
    background-color: var(--orange);
    color:var(--white);
    padding:5px 10px;
    border:none;
    border-radius: 10px;
}
.item .content .remove{
    padding:5px;
    border:none;
    margin-top:5px;
    border-radius: 10px;
    display: none;
}

/* end center */
.cart .item{
    transition: 0.5s;
    border-bottom: 3px solid var(--light);
}
.cart .name{
    padding:20px;
    height:40px;
    font-weight: bold;
    font-size: x-large;
    border-bottom:1px solid var(--light)
}
.danger{
    box-shadow: 0 10px 10px var(--orange);
    transform: translate(0,-10px);
}
.cart .add{
    display: none;
}
.cart .remove{
    display: inline-block!important;
    box-shadow: 1px 1px 2px rgba(5, 3, 0, 0.55)
}
.cart .remove:hover{
    box-shadow: 1px 1px 8px rgba(5, 3, 0, 0.55)
}

/* CSS for feedback */
.feedback {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.feedback textarea {
    width: 100%;
    padding: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px rgba(5, 3, 0, 0.55)
}
.feedback textarea:hover{
    box-shadow: 1px 1px 8px rgba(5, 3, 0, 0.55)
}

.feedback select,
.feedback button {
    padding: auto;
    margin: 20px;
}

.feedback .reviews {
    margin-top: 20px;
}

#userReview {
    width: 100%;
    height: 100%;
    margin: 30px -30px;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

#rating {
    padding: 10px;
    margin: 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#submitReview {
    background-color: #ffa500;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* modals */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgb(0, 0, 0);
    background-color: rgba(122, 115, 115, 0.9);
  }
  
  .modal-content {
    margin: auto;
    max-width: 10gi00px;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr; /* Bagian gambar mendapat 1/3 lebar, sedangkan detail 2/3 lebar */
    text-align: left;
}

.modal-content img {
    max-width: 80%;
    height: auto;
}

.modal-image {
    text-align: center;
}

.modal-details {
    padding: 0 20px;
    display: flex;
    flex-direction: column; /* Tata letak vertikal (kolom) untuk teks */
}

.modal-title {
    text-align: center;
}
  
  .close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
  }

  .delete {
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
  }

  .modaldaftar {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
        text-align: center;
    }

    /* CSS untuk mengatur tombol logout */
    .logout-button {
        display: none;
    }